* {
  box-sizing: border-box;
}
.main {
  width: 700px;
  height: 400px;
  background: rgb(196, 231, 154);
  padding: 40px;
}
.text {
  width: 360px;
  height: 50px;
}
.logo {
  width: 100px;
  height: 25px;
  background: rgb(71, 116, 19);
}
.links {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}
.link {
  flex-direction: row;
  width: 50px;
  height: 20px;
  background: rgb(107, 154, 51);
  margin-top: 20px;
}
.header {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 70px;
}
.paragraph {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 20px;
}
.figure {
  width: 240px;
  height: 240px;
  background: rgb(71, 116, 19);
  border-radius: 120px;
  margin-left: 400px;
}
